/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --first-color: #3733d5;
  --seconed-color: #9b51e0;
  --third-color: #de9afb;
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.75rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
}
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

body {
  color: var(--black-color);
  background: linear-gradient(
    45deg,
    var(--first-color),
    var(--seconed-color),
    var(--third-color)
  );
  /* animation: animate 15s ease infinite;
  -webkit-animation: animate 15.5s ease-in infinite; */
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

h1 {
  display: flex;
  font-family: var(--body-font);
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
  color: #fff;
  font-family: "Mona Sans";
  letter-spacing: 1px;
}

/*=============== START Signin ===============*/
/*=============== START RADIO ===============*/
.radio-input input {
  display: none;
}

.radio-input {
  --container_width: 288px;
  position: relative;
  left: 6px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
  color: #000000;
  width: var(--container_width);
  overflow: hidden;
  border: 1px solid rgba(53, 52, 52, 0.226);
  margin-bottom: 10px;
}

.radio-input label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 14px;
  letter-spacing: 1px;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 3);
  z-index: 0;
  left: 0;
  top: 0;
  transition: 0.15s ease;
}

.radio-input label:has(input:checked) {
  color: #fff;
}

.radio-input label:has(input:checked) ~ .selection {
  background: linear-gradient(
    45deg,
    var(--first-color),
    var(--seconed-color),
    var(--third-color)
  );
  display: inline-block;
}

.radio-input label:nth-child(1):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 0 / 3));
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 1 / 3));
}

.radio-input label:nth-child(3):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 2 / 3));
}
/*=============== END RADIO ===============*/
/* ================== Start Signin ============== */

.Signin {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}
.Signin__form {
  position: relative;
  background-color: #fff;
  border: 2px solid var(--white-color);
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  margin-bottom: 20px;
}
.Signin__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.3rem;
  color: #3c3548;
}
h4 {
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
  color: #726c7c;
}
.Signin__content,
.Signin__box {
  display: grid;
}
.Signin__content {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}
.Signin__box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 1px solid var(--black-color);
  color: #888;
}
.Signin__icon {
  color: var(--black-color);
}
.Signin__icon,
.Signin__eye {
  font-size: 1.25rem;
}
.Signin__input {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: var(--black-color);
  position: relative;
  z-index: 1;
}
.Signin__box-input {
  position: relative;
}
.Signin__label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: var(--font-medium);
  transition: top 0.3s, font-size 0.3s;
}
.Signin__eye {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}
.Signin__box:nth-child(2) input {
  padding-right: 1.8rem;
}
.Signin__check,
.Signin__check-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Signin__check {
  margin-bottom: 1.5rem;
}
.Signin__check-label,
.Signin__forgot,
.Signin__register {
  font-size: var(--small-font-size);
}

.Signin__button {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(
    45deg,
    var(--first-color),
    var(--seconed-color),
    var(--third-color)
  );
  color: #fff;
  font-weight: var(--font-medium);
  cursor: pointer;
  margin-bottom: 2rem;
  /* animation: animate 15s ease-in infinite;
  -webkit-animation: animate 15s ease-in infinite; */
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

/* Input focus move up label */
.Signin__input:focus + .Signin__label {
  top: -12px;
  font-size: var(--small-font-size);
}

/* Input focus sticky top label */
.Signin__input:not(:placeholder-shown).Signin__input:not(:focus)
  + .Signin__label {
  top: -12px;
  font-size: var(--small-font-size);
}
/*=============== END Signin ===============*/

/*============== START ANIMATION ==================*/
/* @keyframes animate {
  0% {
    background: #3733d5 0 50%;
  }
  50% {
    background: #9b51e0 100% 50%;
  }
  100% {
    background: #de9afb 0 50%;
  }
} */
/*============== END ANIMATION ==================*/

/*=============== START RESPOSIVE ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .Signin {
    justify-content: center;
  }
  .Signin__form {
    width: 432px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }
  .Signin__title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 600px) {
  .Signin {
    justify-content: center;
  }
  .Signin__form {
    width: 400px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }
  .Signin__title {
    font-size: 2rem;
  }
}
/* For Large devices */
@media screen and (max-width: 800px) {
  .Signin {
    justify-content: center;
  }
  .Signin__form {
    width: 400px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }
  .Signin__title {
    font-size: 2rem;
  }
}
